apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
    containers:
      - name: frontend
        image: ghcr.io/yasinbb00/guestbook-frontend:12b6d96e47694b921912fe4607b890cd6d3871ff
        ports:
          - containerPort: 80